<!-- Portfolio -->
    <section id="portfolio" class="section bg-grey arrow-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Our Work</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<!-- Start Portfolio Item -->
					<div class="hover-details">
						<img class="img-responsive img-thumbnail" src="./Cleany - Minimalistic Landing Page_files/thumb.png" alt="" title=""><!-- Image Thumbnail  -->
						<div class="img-cover">
							<a href="./Cleany - Minimalistic Landing Page_files/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
							<h3>Item Description</h3><!-- Image Description  -->
						</div>
					</div>
					<!-- End Portfolio Item  -->
				</div>
			</div>		
		</div>
	</section>
	<!-- End Portfolio -->

	<!-- Features -->
    <section id="features" class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Features</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 features"><!-- Start Feature -->
					<i class="line-font blue icon-speech"></i><!-- Feature Icon -->
					<h3>Easily adaptable</h3><!-- Feature Title -->
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p><!-- Feature Text -->
				</div><!-- End Feature -->
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-envelope"></i>
					<h3>Fully Responsive</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-pie-chart"></i>
					<h3>Multipurpose</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-map"></i>
					<h3>Minimalistic</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-call-out"></i>
					<h3>24/7 Support</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-reload"></i>
					<h3>Documentataion</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-lock"></i>
					<h3>Line Icons</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-bar-chart"></i>
					<h3>Assured Revenue</h3>
					<p>Nullam mo  arcu ac molestie scelerisqu vulputate molestie mpus ipsum.</p>
				</div>
				<div class="col-md-4 col-sm-4 features">
					<i class="line-font blue icon-layers"></i>
					<h3>Hotline</h3>
					<p><strong>1-234-567-890 - </strong> Plestie scelerisqu vulputate molestie ligula gravida .</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12">
					<img src="./Cleany - Minimalistic Landing Page_files/apple.png" class="img-responsive" alt="" title="">
				</div>
			</div>
		</div>
	</section>
	<!--End Features -->
	
	<!-- Three Main Points -->
	<section id="three-main" class="section bg-blue-pattern white-text">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Tailored For Your Needs</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="main-point"><!-- Main Point -->
						<i class="line-font icon-briefcase"></i><!-- Main Point Icon -->
						<h3>Client Oriented</h3><!-- Main Point Title -->
						<p>Lorem ipsum dolor sit amet, magna consectetur adipisicing elit, sed do eiusmod incididunt. </p><!-- Main Point Text -->
					</div><!-- End Main Point -->
				</div>
				<div class="col-md-4">
					<div class="main-point">
						<i class="line-font icon-graph"></i>
						<h3>Custom Icons</h3>
						<p>Lorem ipsum dolor sit amet, magna consectetur adipisicing elit, sed do eiusmod incididunt. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="main-point">
						<i class="line-font icon-globe"></i>
						<h3>Easy Flow</h3>
						<p>Lorem ipsum dolor sit amet, magna consectetur adipisicing elit, sed do eiusmod incididunt. </p>
					</div>
				</div>				
			</div>
		</div>
	</section>