<div class="">
  <div class="container">
	<div class="panel panel-default">
			<div class="panel-body">
	<div class="row main-content">
	
	<!-- BANNER -->
	<div class="col-xs-12 col-sm-12 col-sm-9 col-lg-9">
		<img class="img-responsive" src="Base%20page1_files/banner.png" alt="">
	</div>
	<!-- BANNER -->
	
	
	<!-- SEARCH FORM -->
	<div class="col-xs-12 col-sm-12 col-sm-3 col-lg-3">
		
				<p style="margin-top:10px;"><a class="btn btn-info btn-sm btn-block" href="#"><i class="icon-sitemap"></i> Donate</a></p>
			</div>
		</div>
	</div>
	<!-- SEARCH FORM -->
	</div></div>
</div>



<!-- /.row -->
<div class="container">
<div class="row">

	<div style="z-index:1020" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right"><!-- z-index:1020; - fix for .pull-right on col-*-xs @media widths-->
	<div class="list-group panel panel-primary">
					<div class="panel-heading text-center hidden-xs">
						<h4>CATEGORIES</h4>
					</div>
					<div id="cat-navi">
						<a href="#" class="list-group-item hidden-xs">Dapibus ac facilisis in </a>
						<a href="#" class="list-group-item hidden-xs">Active category</a>
						<a href="#" class="list-group-item hidden-xs">Morbi leo risus</a>
						<a href="#" class="list-group-item hidden-xs">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item hidden-xs">Vestibulum at eros</a>
					<select class="form-control"><option value="" selected="selected">Choose category</option><option value="#">Dapibus ac facilisis in </option><option value="#">Active category</option><option value="#">Morbi leo risus</option><option value="#">Porta ac consectetur ac</option><option value="#">Vestibulum at eros</option></select></div>
					<div class="panel-footer">
						
							<a class="btn btn-link btn-sm btn-block" href="#"><i class="icon-list-alt"></i>  View all categories</a>
						
					</div>
				</div>
	</div>
	
	
	
	  
<!-- CONTENT SIDE-->
<div class="col-xs-12 col-sm-6 col-sm-6 col-lg-6">
	<!-- top article-->
	<div class="panel panel-default">
		<div class="panel-body">
		<h2>Main blog title or slogan goes here</h2>
		<hr>
		<div id="MyCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#MyCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" alt="First slide" src="Base%20page1_files/blogpost4.jpg">
          </div>
          <div class="item">
           <img class="img-responsive" alt="First slide" src="Base%20page1_files/blogpost3.jpg">
          </div>
    
        </div>
        <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#MyCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
	  <h3 class=""><a href="#">Standart post with corousel images</a></h3>
				<p class=" clearfix">
					<i class="fa-icon-comment"></i>
					<a href="#">3 Comments</a>
					| <i class="fa-icon-share"></i>
					<a href="#">39 Shares</a> | <i class="fa-icon-user"></i> 
					<a href="#">Admin</a> | Tags: 
					<a href="#"><span class="label label-info">Bootstraptor</span></a> 
					<a href="#"><span class="label label-info">Bootstrap</span></a> 
					<a href="#"><span class="label label-info">UI</span></a> 
					<a href="#"><span class="label label-info">growth</span></a>
				</p>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, 
tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum 
massa justo sit amet risus. Etiam porta sem malesuada magna mollis 
euismod. Donec sed odio dui.</p>
			<p><a class="btn btn-info" href="#">View detail</a></p>
			
	  </div>
	</div>
	<!-- /top article-->
		
		<!--  article -->
		<div class="panel panel-default">
			<div class="panel-body">
				<img class="img-responsive" src="Base%20page1_files/blogpost6.jpg" alt="post image">
				<h3 class=""><a href="#">Standart post with image thumbnail</a></h3>
					<p class=" clearfix">
						<i class="fa-icon-comment"></i>
						<a href="#">3 Comments</a>
						| <i class="fa-icon-share"></i>
						<a href="#">39 Shares</a> | <i class="fa-icon-user"></i> 
						<a href="#">Admin</a> | Tags: 
						<a href="#"><span class="label label-info">Bootstraptor</span></a> 
						<a href="#"><span class="label label-info">Bootstrap</span></a> 
						<a href="#"><span class="label label-info">UI</span></a> 
						<a href="#"><span class="label label-info">growth</span></a>
					</p>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, 
tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum 
massa justo sit amet risus. Etiam porta sem malesuada magna mollis 
euismod. Donec sed odio dui.</p>
				<p><a class="btn btn-info" href="#">View detail</a></p>
			</div>
		</div>
<!--/ article-->

<!-- article-->
		<div class="panel panel-default">
			<div class="panel-body">
			<!-- VIDEO-->
		<div class="vendor">
			<div class="container-video">
				<div class="fluid-width-video-wrapper" style="padding-top: 50%;">
					<iframe src="Base%20page1_files/35108500_002.html" id="fitvid862574"></iframe>
				</div> 
			</div>
		</div>
		<!-- /VIDEO-->
		
				<h3 class=""><a href="#">Standart post responsive video preview</a></h3>
				<p class=" clearfix">
					<i class="fa-icon-comment"></i>
					<a href="#">3 Comments</a>
					| <i class="fa-icon-share"></i>
					<a href="#">39 Shares</a> | <i class="fa-icon-user"></i> 
					<a href="#">Admin</a> | Tags: 
					<a href="#"><span class="label label-info">Bootstraptor</span></a> 
					<a href="#"><span class="label label-info">Bootstrap</span></a> 
					<a href="#"><span class="label label-info">UI</span></a> 
					<a href="#"><span class="label label-info">growth</span></a>
				</p>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, 
tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum 
massa justo sit amet risus. Etiam porta sem malesuada magna mollis 
euismod. Donec sed odio dui.</p>
			<p><a class="btn btn-info" href="#">View detail</a></p>
			</div>
		</div>
<!--/ article-->

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="pagination">
          <li class="disabled"><a href="#">Previous</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>


</div>
<!-- /CONTENT SIDE-->
<!-- CONTENT CENTER -->
	<div class="col-xs-12 col-sm-3 col-sm-3 col-lg-3">
				<div class="list-group panel panel-primary">
					<div class="panel-heading text-center hidden-xs">
						<h4>TOP STORIES</h4>
					</div>
					
						<a href="#" class="list-group-item hidden-xs">Dapibus ac facilisis in Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item hidden-xs">Active category Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item hidden-xs">Morbi leo risus Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item hidden-xs">Porta ac consectetur ac Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item hidden-xs">Vestibulum at eros Dapibus ac facilisis in</a>
			
					<div class="panel-footer">
						<a class="btn btn-link btn-sm btn-block" href="#"><i class="icon-list-alt"></i>  View all stories</a>
					</div>
				</div>
				
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>VIDEO WIDGET</h3>
			</div>
			<div class="panel-body">
				<!-- VIDEO-->
				<div class="vendor">
					<div class="container-video">
						<div class="fluid-width-video-wrapper" style="padding-top: 50%;">
							<iframe src="Base%20page1_files/35108500_002.html" id="fitvid862574"></iframe>
						</div> 
					</div>
				</div>
				<!-- /VIDEO-->
			</div>
			<div class="panel-footer">
				<a class="" href="#" title="">All videos</a>
			</div>
		</div>
		<!-- /.panel-default VIDEOS -->
			<div class="list-group panel panel-default ">
					<div class="panel-heading">
						<h3>NEWS WIDGET</h3>
					</div>
						<div class="panel-body">
							<div class="thumbnail">
									<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
								<div class="caption">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<p><small>10 sep. 2013</small> | Category: <a href="" title="">News</a></p>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<a class="" href="http://www.bootstraptor.com/"><h4>News title header long long title header test</h4></a>
										</div>
									</div>
								</div>
							</div>
							<div class="thumbnail">
									<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
								<div class="caption">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<p><small>10 sep. 2013</small> | Category: <a href="" title="">News</a></p>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<a class="" href="http://www.bootstraptor.com/"><h4>News title header long long title header test</h4></a>
										</div>
									</div>
								</div>
							</div>
							<div class="thumbnail">
									<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
								<div class="caption">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<p><small>10 sep. 2013</small> | Category: <a href="" title="">News</a></p>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<a class="" href="http://www.bootstraptor.com/"><h4>News title header long long title header test</h4></a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="thumbnail">
									<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
								<div class="caption">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<p><small>10 sep. 2013</small> | Category: <a href="" title="">News</a></p>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<a class="" href="http://www.bootstraptor.com/"><h4>News title header long long title header test</h4></a>
										</div>
									</div>
								</div>
							</div>
							
					</div>	
					<div class="panel-footer text-right">
						<a class="" href="#" title="">All news →</a>
					</div>
					
					
				</div>
				
	</div>
<!--/ CONTENT CENTER -->
   
   		<!-- RIGHT SIDE-->   
		<div class="col-xs-12 col-sm-3 col-sm-3 col-lg-3">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h4>ADDS WIDGET</h4>
			</div>
				<div class="panel-body">
					<img class="img-responsive" src="Base%20page1_files/blogpost3.jpg" alt="">
					<hr>	
					<img class="img-responsive" src="Base%20page1_files/blogpost3.jpg" alt="">
					<hr>	
					<img class="img-responsive" src="Base%20page1_files/blogpost3.jpg" alt="">
					<hr>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
					
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
						<div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
							<img class="img-responsive img-adds" src="Base%20page1_files/blogpost3.jpg" alt="">	
						</div>
					</div>
				</div>
			</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- TABS CONTROLS -->
				<ul id="myTab" class="nav nav-tabs nav-justified">
					<li class="active"><a href="#home" data-toggle="tab">POPULAR</a></li>
					<li><a href="#profile" data-toggle="tab">TAGS</a></li>
				</ul>
				<!-- /TABS CONTROLS -->
					<!-- PANES -->
						<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="home">
							<div class="row">
								<div class="col-xs-6 col-sm-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
											<div class="thumbnail" style="">
												<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
											</div>
										</div>
										<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
										<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

										</div>
									</div>
								</div>
							
							<div class="col-xs-6 col-sm-12 col-lg-12">
								<div class="row ">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
										<div class="thumbnail" style="">
											<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
									<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

									</div>
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-12 col-lg-12">							
								<div class="row ">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
										<div class="thumbnail" style="">
											<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
									<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

									</div>
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-12 col-lg-12">							
								<div class="row ">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
										<div class="thumbnail" style="">
											<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
									<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

									</div>
								</div>
							</div>
							
								<div class="col-xs-6 col-sm-12 col-lg-12">							
								<div class="row ">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
										<div class="thumbnail" style="">
											<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
									<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

									</div>
								</div>
							</div>
							
							
								<div class="col-xs-6 col-sm-12 col-lg-12">							
								<div class="row ">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center hidden-sm">
										<div class="thumbnail" style="">
											<img src="Base%20page1_files/blogpost6.jpg" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
									<a class="" href="http://www.bootstraptor.com/"><h5>News title header long long title header test</h5></a>

									</div>
								</div>
							</div>	
						</div>
						<!-- /.row-->
						</div>
						<div class="tab-pane fade widget-tags " id="profile">
						<style>.widget-tags a {display:inline-block; margin-bottom:3px;}</style>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a> 
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a> 
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a> 
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-info">info</span></a>
						  <a href="#"><span class="label label-success">success</span></a>
						  <a href="#"><span class="label label-warning">warning</span></a>
						  <a href="#"><span class="label label-danger">danger</span></a>
						  
						</div>
						
						</div><!-- /.row-->
					  </div>
					</div>
				</div>         
    </div>
<!-- /RIGHT SIDE--> 


</div>	
 <!-- /container -->
<!--/ CONTENT -->

<% @homes.each do|h|%>
<%= h.title %>
<%= h.description %>
<%= image_tag h.avatar.url(:large) %>

<% end %>