@charset "utf-8";


#menu-container{background:url(assets/jam.png) repeat-x; float:left; width:100%; margin:0px 0px -6px; padding:0px;}

.menu{color: #5F2402;}

#menu-container:after{background:url(images/menu_strip.png) no-repeat; background-size:cover; content:""; height:10px; width:100%; z-index:999; float:left; margin:-10px 0px 0px;}

.menu ul{margin:0px auto; padding:0px;}

.menu ul li{}

.menu ul li:after{border-right:1px solid #644b3d; background:#321f15; float:left; display:inline; width:1px; height:100%; position:absolute; top:0px; right:0px; content:"";}

.menu ul li a{color:#ffffff; background-color: none; display:block; font-size:15px; text-transform:uppercase;}

.menu ul li a:hover, .menu ul li ul li a:hover{color:#ba742f;; text-decoration:none;}

.menu ul li:last-child:after{border:none; background:none;}

.menu li ul{background:#e3c296; border-style:solid; border-width:0px 1px 3px; border-color:#fff; width:210px; float:left; left:-4px; display:none; position: absolute; top:100%; z-index:999999;}

.menu ul li ul li{width:100%; float:left; border-width:0px 0px 1px; border-color:transparent transparent #564338; border-style:solid; color: #564338;}

.menu > ul > li > ul > li:hover > a, .menu ul li ul li ul li:hover a{background:#f8e3c6; color:inherit;}

.menu ul li ul li:nth-child(1){border-top:none;}

.menu ul li ul li:after{content:""; background:none; border-right:0px;}

.menu ul li ul li a{font-size:14px; padding:12px 16px 10px 16px; width:100%; color:#efefef;   text-shadow:none; text-transform:capitalize;}

.menu > ul > li:hover > ul{display:block;}

.menu > ul > li.current_page_item > a{color: #FFF; background-color: #884500;}

.menu ul li ul li.current_page_item > a{background:#f8e3c6;}

.menu ul li ul li:hover ul{display:block;}

.menu ul li ul li ul{position:absolute; left:209px; top:0px; z-index:99999;}

.menu ul li ul li ul{border-style:solid; border-width:0px 1px 3px 0px; border-color:#f8e3c6;}

.menu ul > li > ul li.hasSubmenu > a:after{content:"\f101"; font-family:FontAwesome; font-style:normal; font-weight:normal; color:#efefef; text-decoration:inherit; position:absolute; top:12px; right:10px;}

/*--------------------------------------------------------------
6.0 - Main Styles
--------------------------------------------------------------*/
